<h1>BookKarma</h1>
<p>This page will show owned and wanted books</p>
<% @owner.owned_books.each do |o| %>
	<div class="row">
		<div class="span8"></div>
			<p>
			  <b>Book ID:</b>
			  <%= o.book_id %>
			</p>

			<p>
			  <b>User ID:</b>
			  <%= o.user_id %>
			</p>

			<p>
				<b>Book Title:</b>
				<%= o.book.title %>
			</p>
		</div>
	</div>
<% end %>