<h1>BookKarma</h1>
<p>This page will show owned and wanted books</p>

<% @owner.books.each do |o| %>
	<div class="row">
		<div class="span8">
			<p>
			  <b>Book ID:</b>
			  <%= o.book_catalog_entrie_id %>
			</p>

			<p>
			  <b>User ID:</b>
			  <%= o.user_id %>
			</p>

			<p>
				<b>Book Title:</b>
				<%= o.book_catalog_entrie.title %>
			</p>
			<p>
				<b>Book Image:</b>
				<%= image_tag("9780452272590.jpg", :alt => "book image") %>
			</p>
		</div>
	</div>
<% end %>
